.recent-query-swiper .swiper-slide {
    transition: transform 0.4s ease, opacity 0.4s ease;
    transform: scale(0.9);
    opacity: 0.4;
}

.recent-query-swiper .swiper-slide-active {
    transform: scale(1);
    opacity: 1;
}

.recent-query-swiper .swiper-pagination {
    margin-top: 20px;
    /* or adjust as needed */
    position: relative;
    /* move it down */
}