@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&family=Tiro+Bangla:ital@0;1&display=swap');

@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default;
}

body {
  font-family: "Space Grotesk", "Tiro Bangla", serif;
}


@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #209187;
  --color-secondary: #2f3239;
  --color-accent: #e0ad1f;
}


